**/node_modules
**/.env*.local
**/coverage
**/*.md
**/LICENSE
**/Dockerfile
yarn-error.log
JenkinsfileTest
**/.next
install-state.gz
**/dist
**/build
**/.docusaurus
**/out

# Don't ignore docs markdown files
!packages/docs/**/*.md
