.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSpecialist {
  height: 200px;
  width: 280px;
}

.featureBeach {
  height: 200px;
  width: 180px;
}

.featureRocket {
  height: 200px;
  width: 150px;
}

.featureTitle {
  color: #ff7131;
}
