.teamCard {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-text);
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  padding: 2em;
}

.idButton {
  background-color: antiquewhite;
}
