name: Deploy to GitHub Pages

on:
  pull_request:
    branches: [develop]
    types: [opened, synchronize, reopened]
  push:
    branches: [develop]

jobs:
  test-deploy:
    if: github.event_name != 'push'

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn nx run @blockchain-lab-um/ssi-snap-docs:lint
      - name: Test build website
        run: yarn nx run @blockchain-lab-um/ssi-snap-docs:build
  deploy:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Deploy to GitHub Pages
        env:
          USE_SSH: true
        run: |
          git config --global user.email "andraz.vrecko@gmail.com"
          git config --global user.name "andyv09"
          yarn install --immutable
          yarn deploy:docs
